.title {
  color: black;
  margin-left: 1rem;
  margin-top: 1rem;
}

.icon {
  color: white;
  width: 2.5rem;
  height: 2rem;
}

.bars {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.header {
  margin-left: 1rem;
}

.nav-item {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  list-style-type: none;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.25s ease-in-out;
}

.nav-item :hover {
  background-color: rgb(230, 230, 230);
}

.app-drawer {
  width: 4rem;
  min-height: 100vh;
  padding-top: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.45);
  transition: width 0.2s ease-in-out;
}

.app-drawer.is-open {
  width: 16rem;
}
