.container {
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
  color: white;
}

.row {
  display: flex;
  justify-content: center;
}

.column-one-third {
  flex-basis: calc(100% / 3);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 50%;
}

.science {
  background-color: white;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #1996da;
}
