.hidden {
  display: none;
}

.container {
  width: 412px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pokemon {
  width: 100%;
}

.pokemon-list {
  display: flex;
  list-style: none;
}
