#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.indicator-list {
  list-style: none;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  width: 50%;
}

.active {
  color: orange;
}

.jjk {
  cursor: pointer;
}

.chevron {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
