.phrase {
  width: 900px;
  height: 900px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.space {
  margin: 0 5px;
}

.character {
  font-family: sans-serif;
}

.default {
  font-family: sans-serif;
  border-bottom: solid;
}

.correct {
  font-family: sans-serif;
  color: #4dd84e;
}

.incorrect {
  font-family: sans-serif;
  border-bottom: solid;
  color: #f80a0a;
}
